/* Apply box-sizing universally */
*, *::before, *::after {
  box-sizing: border-box;
}

.section-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 7rem; /* Margin on each side */
  border: none;
}

.bubble-container {
  display: flex;
  width: 100%;
}

.bubble-btn {
  width: 350px; /* Fixed width */
  height: 60px; /* Fixed height */
  padding: 0.5rem 7rem;
  background-color: #446ff2;
  border-radius: 1rem;
  font-size: 1.9rem;
  font-weight: 300;
  font-family: "teko", sans-serif;
  transition: background-color 0.4s, transform 0.1s;
  margin-left: 4rem; /* Only left margin */
  border: none;
  color: white;
}

.bubble-btn:hover {
  background-color: #3c63d8;
  cursor: pointer;
}

.bubble-btn:active {
  background-color: #446ff2;
  transform: scale(0.98);
}

.bubble-video-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-vid {
  width: 100%;
  height: 370px;
  border-radius: 10px;
}

.bubble-description {
  font-size: 1.2rem;
  color: #666;
  text-align: justify;
  margin: 0 2rem;
  width: 100%; /* Change to 100% to be responsive */
}

.learn-more-btn {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: #446ff2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.learn-more-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.learn-more-href,
.bubble-link {
  text-decoration: none;
  color: #666;
}

/* Media Queries */
@media (max-width: 900px) {
  .section-container {
    flex-direction: column-reverse;
    margin: 0; /* Remove margin on small screens */
  }
  .bubble-description {
    margin: 1rem;
  }
}

@media (min-width: 900px) {
  .section-container {
    margin: 0 9rem;
    width: 80%;
  }
  .bubble-description {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .bubble-btn {
    width: 250px;
    height: 50px;
    padding: 0.5rem 5rem;
    font-size: 1.5rem;
  }
  .bubble-description {
    font-size: 1rem;
  }
  .bubble-vid {
    height: 250px;
  }
}
